@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #151618;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 100px 0 100px;
  max-width: 1500px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
}

.image_container {
  max-width: 90px;
}

img {
  width: 100%;
}

.back_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  pointer-events: none;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  left: 0;
}

.banner .text {
  position: relative;
  max-width: 600px;
  margin-right: 2em;
}

.banner .text h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.banner .text p {
  font-size: 1em;
  color: #c5b8b8;
  margin-bottom: 3em;
}

.banner .text a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  background: whitesmoke;
  border: 2px solid black;
  padding: 8px 12px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 4px;
}

.banner .video_container {
  position: relative;
  width: 100%;
  min-width: 400px;
  max-width: 600px;
}

.banner .video_container .windowed_video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .banner {
    top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner .text {
    min-width: 100%;
    margin-bottom: 2em;
  }
  .banner .video_container {
    min-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */